<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.torbenlarsen.action.SafariDeafultBrowser</string>
	<key>CFBundleIconFile</key>
	<string>/Applications/Safari.app/Contents/Resources/compass.icns</string>
	<key>CFBundleName</key>
	<string>Safari Default Browser</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.sh</string>
			<key>LBRunInBackground</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Changes the default browser to Safari</string>
		<key>LBAuthor</key>
		<string>Torben Larsen</string>
		<key>LBEmail</key>
		<string>torben@torbenlarsen.com</string>
	</dict>
</dict>
</plist>
